---
import BaseLayout from '~/layouts/base.astro'
import Main from '~/components/main.astro'
---

<BaseLayout>
  <main><Main /></main>
</BaseLayout>

<style lang="scss">
  main {
    @apply px-4;
  }
</style>
