---
import ImgLoader from './imgLoader'
import Form from './form'

const { title } = Astro.props
---

<section>
  <h1>{title}</h1>
  <ImgLoader client:idle />
  <Form client:idle />
</section>

<style lang="scss">
  section {
    @apply min-h-screen flex flex-col items-center justify-center gap-4;
  }

  h1 {
    @apply font-black text-2xl md:text-4xl text-center;
  }
</style>
